<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HEALTH TRACK: HOME PAGE</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
<body>
  <div class="navbar-fixed">
    <nav class="nav-wrapper">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Health Track</a>
        <ul class="right hide-on-med-and-down">
          <% if (user) { %>
          <li><a href="/customers/bmi">UPDATE LOG</a></li>  
          <li><a href="/customers">YOUR PROFILE</a></li>
          <li><a href="/logout">LOG OUT</a></li>
          <% } else { %>          
          <a href="/auth/google">LOGIN</a>
          <% } %>
        </ul>
      </div>
    </nav>
  </div>
</body>