
body {
 background-color: rgb(191, 242, 200);
}

.brand-logo {
  margin-left: 15px;
}

nav {
  background-color: green !important;
}

.nav-wrapper {
  background-color: green !important;
}

#logForm[type = "submit"] {
  width: 10rem;
  grid-column: 2 / 3;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}
	
.delete-form button {
  color: red;
}
	
li {
  list-style: none;
}

#MAIN {
  margin: 250px;
  text-align: center;
}

.main-list {
  margin: 100px;
  text-align: center;
}

#update-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid green; 
}

h1 {
  size: 10px;
}