.brand-logo {
  margin-left: 15px;
}

nav {
  background-color: green !important;
}

.nav-wrapper {
  background-color: green !important;
}

#logForm {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  margin-bottom: 2rem;
  justify-content: center;
  
}

#logForm[type = "submit"] {
  width: 10rem;
  grid-column: 2 / 3;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}
	
.delete-form button {
  color: red;
}
	
li {
  list-style: none;
}