<%- include('../partials/header') %>
    <div id="MAIN">
        <h1 id="heading">Please update your log for today:</h1>
    </div>
    <form id='logForm' action="/customers" method="post">
        <input id="height"
               name="height"
               required
               placeholder="Enter your height(m)" />
        <br />
        <input id="weight"
               name="weight"
               required
               placeholder="Enter your weight(kg)" />
        <br />
        <input id="mood"
               name="mood"
               required
               placeholder="mood" />
        <br />
              <input id="exercise-type"
               name="type"
               required
               placeholder="type" />
        <br />
         <input id="exercise-duration"
               name="duration"
               required
               placeholder="duration" />
        <br />
        <button class="btn"
                type="submit">SAVE</button>
    </form>
    <% if(bmi != 567){ %>
        <p>Your BMI is <%= bmi %></p>
    <% }else{ %>
        <p></p>
    <% } %>
<%- include('../partials/footer') %>